<div
  class="flex min-h-full flex-col items-center justify-center bg-gradient-to-br from-indigo-50 to-purple-50 p-4"
>
  <div
    class="w-full max-w-lg overflow-hidden rounded-lg shadow-lg transition-shadow duration-300 hover:shadow-xl"
  >
    <app-header />
    <div class="space-y-6 bg-white p-3 min-[425px]:p-6">
      <form [formGroup]="converterForm" class="space-y-4">
        <div class="space-y-2">
          <label for="amount" class="block text-sm font-medium">Amount</label>
          <input
            id="amount"
            type="number"
            min="0"
            formControlName="initialValue"
            class="input w-full border-zinc-200 text-lg"
          />
        </div>
        <div
          class="grid grid-cols-1 items-end gap-2 min-[525px]:grid-cols-[1fr_auto_1fr]"
        >
          <div class="space-y-2">
            <label for="from" class="block text-sm font-medium">From</label>
            <select
              name="from"
              id="from"
              formControlName="from"
              (change)="convertCurrencies(converterForm.value.from!)"
              class="select w-full border-zinc-200"
            >
              @for (rateCurrency of ratesCurrency; track rateCurrency) {
                <option [value]="rateCurrency">{{ rateCurrency }}</option>
              }
            </select>
          </div>
          <button
            type="button"
            appSwap
            class="btn btn-circle justify-self-center border-dashed bg-transparent"
          >
            <lucide-icon name="arrow-left-right" class="size-4"></lucide-icon>
          </button>
          <div class="space-y-2">
            <label for="to" class="block text-sm font-medium">To</label>
            <select
              name="to"
              id="to"
              formControlName="to"
              (change)="convertCurrencies(undefined, converterForm.value.to!)"
              class="select w-full border-zinc-200"
            >
              @for (rateCurrency of ratesCurrency; track rateCurrency) {
                <option [value]="rateCurrency">{{ rateCurrency }}</option>
              }
            </select>
          </div>
        </div>
        <div class="space-y-1 rounded-lg bg-indigo-50 p-4 text-center">
          <p class="text-sm text-gray-600">
            {{ converterForm.value.initialValue }}
            {{ converterForm.value.from }} =
          </p>
          <p class="text-3xl font-bold text-indigo-700">
            {{ result | currency: converterForm.value.to! }}
          </p>
          <p class="text-xs text-gray-600">
            {{ converterForm.value.initialValue }}
            {{ converterForm.value.from }} = {{ result }}
            {{ converterForm.value.to }}
          </p>
        </div>
      </form>
      <app-footer [date]="date" />
    </div>
  </div>
</div>
