<div class="flex min-h-full flex-col items-center justify-center p-4">
  <div
    class="w-full max-w-lg overflow-hidden rounded-lg shadow-lg transition-shadow duration-300 hover:shadow-xl"
  >
    <div
      class="space-y-1.5 bg-gradient-to-r from-indigo-500 to-purple-600 p-3 min-[425px]:p-6"
    >
      <div>
        <h1 class="text-2xl font-bold tracking-tight text-white">
          Currency Converter
        </h1>
      </div>
      <p class="text-sm text-indigo-100">Convert between world currencies</p>
    </div>
    <div class="space-y-6 p-3 min-[425px]:p-6">
      <form class="space-y-4">
        <div class="space-y-2">
          <label for="amount" class="block text-sm font-medium">Amount</label>
          <input
            id="amount"
            type="number"
            min="0"
            class="input w-full border-zinc-200 text-lg"
          />
        </div>
        <div
          class="grid grid-cols-1 items-end gap-2 min-[525px]:grid-cols-[1fr_auto_1fr]"
        >
          <div class="space-y-2">
            <label for="from" class="block text-sm font-medium">From</label>
            <select name="from" id="from" class="select w-full border-zinc-200">
              <option value="usd">USD - US Dollar</option>
              <option value="usd">JPY - Japanese Yen</option>
              <option value="usd">CAD - Canadian Dollar</option>
            </select>
          </div>
          <button
            type="button"
            class="btn btn-circle justify-self-center border-dashed bg-transparent"
          >
            <lucide-icon name="arrow-left-right" class="size-4"></lucide-icon>
          </button>
          <div class="space-y-2">
            <label for="to" class="block text-sm font-medium">To</label>
            <select name="to" id="to" class="select w-full border-zinc-200">
              <option value="usd">USD - US Dollar</option>
              <option value="usd">JPY - Japanese Yen</option>
            </select>
          </div>
        </div>
      </form>
      <div class="space-y-1 rounded-lg bg-indigo-50 p-4 text-center">
        <p class="text-sm text-gray-600">1 CAD =</p>
        <p class="text-3xl font-bold text-indigo-700">€0.68</p>
        <p class="text-xs text-gray-600">1 CAD = 0.6815 EUR</p>
      </div>
      <div class="text-center text-xs text-gray-600">
        <p>Exchange rates are for demonstration purposes only.</p>
        <p>Last updated: March 13, 2025</p>
      </div>
    </div>
  </div>
</div>
